<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Moschino | Minimalist Free HTML Portfolio by WowThemes.net</title>
<link rel='stylesheet' href='http://localhost:3333/css/woocommerce-layout.css' type='text/css' media='all'/>
<link rel='stylesheet' href='http://localhost:3333/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)'/>
<link rel='stylesheet' href='http://localhost:3333/css/woocommerce.css' type='text/css' media='all'/>
<link rel='stylesheet' href='http://localhost:3333/css/font-awesome.min.css' type='text/css' media='all'/>
<link rel='stylesheet' href='http://localhost:3333/css/style.css' type='text/css' media='all'/>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all'/>
<link rel='stylesheet' href='http://localhost:3333/css/easy-responsive-shortcodes.css' type='text/css' media='all'/>
</head>
@!section('body')
</html>